.Wrapper {
    width: 70%;
    margin: 0 auto;
}


.WrapperHeader {
    display: flex;
    justify-content: space-between;
    
        div {
            width: 30%;
            padding: 10px;
        }
        
        h2 {
            font-size: 22px;
        }

        img {
            width: 100%;
        }
}

.ratings {
    height: 250px;
}

@media screen and (max-width: 1049px) {
    .WrapperHeader {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
            div {
                flex: 50%;
                padding: 10px;
            }
            
            h2 {
                font-size: 22px;
            }
    
            img {
                width: 100%;
            }
    }
}


@media screen and (max-width: 1280px) {
    .WrapperHeader {

            h1 {
                font-size: 22px
            }
            
            h2 {
                font-size: 18px;
            }
    }
}


@media screen and (max-width: 799px) {
    .WrapperHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
            div {
                width: 100%;
            }

            h1 {
                font-size: 22px
            }
            
            h2 {
                font-size: 18px;
            }
    
            img {
                width: 100%;
            }
    }
}
